

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 100%;
    padding: 20px;
}

.buttons button {
    width: 100%;
    height: 60px;
    border-radius: 30px;
    background: #ff8400;
    color: #fff;
    font-size: 24px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#equals {
    grid-column: span 2;
}

#clear {
    background: #a5a5a5;
    color: #000;
}

#back, #divide, #multiply, #subtract, #add {
    background: #a5a5a5;
    color: #000;
}


