





.calculator{
    width: 60%;
    height: 60%;
    background: #212121;
}



.calculator{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
}


.calculator{
    border-radius: 30px;
}


.calculator{
    padding: 0px;
}






