





.calculator{
    width: 350px;
    background: #212121;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}






