

.display {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.display input {
    width: 100%;
    height: 60px;
    background: #212121;
    border: none;
    color: #fff;
    text-align: right;
    font-size: 40px;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 10px;
}
