

.display{
    position:absolute;
    align-self: center;
    top: 10px;
}


.display{
    width: 100%;
}


.display > input{

    width: 98%;
    height: 60px;
    background: #212121;
    border: none;
    margin: 3px;
    padding: 5px;
    color: #fff;
    text-align: right;
    font-size: 40px;
    box-sizing: border-box;
}



.display > input{
    border-radius: 30px;
}
