*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    font-family: "Arial" ;
}



body{
    background: #121212;
    color: #ffffff;
}



body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}





hr{
    width: 100%;
    height: 3px;
    background: #45e057;
    border: none;
    margin: 10px 0;
    margin-bottom: 0;
}

@media (max-width: 480px) {
    .calculator {
        width: 90%;
    }

    .buttons .row button {
        padding: 15px;
        font-size: 1.2rem;
    }

    .display input {
        font-size: 2rem;
    }
}






