*{
    margin: 0;
    padding: 0;
}

html,body{
    font-family: "Arial" ;
}



body{
    /* background: #121212; */
    color: #ffffff;
}



body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}





hr{
    width: 100%;
    height: 3px;
    background: #45e057;
    border: none;
    margin: 10px 0;
    margin-bottom: 0;
}






